<div style="padding:10px 0 10px 10px">
	<p style="text-align:right"><a href="javascript:void(0);" onclick="parent.Smoothbox.close();">x</a></p>
	<h3><?php echo $this->title; ?></h3>
	
	<div style="text-align:center">
		<?php echo $this->player; ?>
	</div>
</div>