/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


                                /*css add for menu*/
* { margin: 0; padding: 0; }
body {
  margin: 0;
  padding: 0;
  line-height:normal;
  font-size:12px;
  font-family:robotoregular;
  color:#010101;
  overflow-x: hidden;
}
a{ text-decoration:none;}
ul{ margin:0; padding:0; list-style:none;}
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/FontAwesome.otf');
}
@font-face {
    font-family: 'FontAwesome';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/fontawesome-webfont.ttf');
}
@font-face {
    font-family: 'robotolight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto-Light.ttf');
}
@font-face {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'robotomedium';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'robotobold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'robotothin';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Roboto-Thin.ttf');
}
@font-face {
    font-family: 'arabella';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Arabella.ttf');
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
  text-align: right;
}
.container_two {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
  text-align: center;
}
.dashtoplinks {
  background-color: #31302e;
  float: left;
  width: 100%;
  min-height:90px;
}
.header_container {
  
  border-bottom: 1px solid #c3c7cb;
  float: left;
  width: 100%;
}
.logo{float: left;
    font-size: 57px;
    /*padding: 1% 20%;*/
    font-family:arabella;
    color: #66023c;
    width: 63%;}
.logo > h1 {
    padding: 1.2% 0;
    text-align: center;
}
.login{font-family: robotoregular;
        font-size: 18px;
        }
.login a{color: #fff;}
.login a:hover{color: #66023c;
                text-decoration: underline;}
.toplinks_rt li:last-child {
    margin-right: 0;
}
.toplinks {
    /*text-align: right;*/
}
.toplinks_lt {display: inline-block;float: left;margin-top: 10px;}
.toplinks_lt li {display: inline-block; margin-right: 25px;}
.toplinks_lt li.first {margin-right:85px;}
.toplinks_lt li.last{}
.toplinks_lt li a {color: #ffffff;font-family: robotoregular;font-size: 14px;line-height: 30px;}
.toplinks_lt li a:hover{ color:#ffcb08;}
.toplinks_rt {display: inline-block;float: right;margin-top: 10px;vertical-align: top;text-align: right;}
.toplinks_rt li {display: inline-block; margin-right: 25px;}
.toplinks_rt li.last {margin-right: 0;}
.toplinks_rt img {position: relative;top: 4px;}

.banner{width: 100%;background-color: #171818;overflow: hidden; border-bottom: 2px solid #c7cbcf;}
.banner_image{text-align: center;padding-bottom: 0.7%;padding-top: 1%;}


.header_rt {
  float: left;
  width: 100%;
  position:relative;
}
.nav {text-align: left;
     /*margin-top: 14px;*/
     /*margin-bottom: 14px;*/
}
.nav li {display: inline-block;line-height: 3;
         padding-left: 13px;
        padding-right: 14px;
}
.nav li.first a{ padding-left:0;}
.nav li.last a{ padding-right:0; background:none;}
.nav li a {
  
  color: #66023c;
  font-family: robotobold;
  font-size: 15px;
  font-weight: normal;
/*  letter-spacing: 0.3px;*/
  /*padding-left: 13px;*/
  /*padding-right: 14px;*/
}
.nav > li:first-child {
   
    padding-left: 0;
}
.nav li a:active{border-bottom: 1px solid #66023c;
                 padding-bottom: 11px;}
.mob_nav , .header_cart_icon , .header_search_icon , .footer_label{
    float: right;
    font-family: robotobold;
    font-size: 16px;
    line-height:20px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.mob_nav img , .header_search_icon img , .header_cart_icon img{
    position: relative;
    top: 3px;
	vertical-align:top;
	margin-left:10px;
}
.header_rt_bottom {
  float: left;
  margin-top: 15px;
  width: 100%;
}

.header_rt_bottom {
    float: left;
    margin-top: 17px;
    width: 100%;
}
.banner_wi{height: auto;width: auto;}
.row{margin-top: 5%;
    overflow: hidden;
    padding: 0;}
.header_content{
    font-family: robotoregular;
    font-size: 16px;
    margin-bottom: 7%;
    text-align: left;
    padding: 0 3% 0;
    width: 94%;
}
.header_content a{color: #313131;}

/*pintrest css*/

body {
 background-color:#edf2f6;   
}  
.container_one{margin: 0 auto;
  max-width: 1024px;
  
  }

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  /*padding: 10px;*/
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.white-panel > img {
    padding: 3%;
    width: 94%;
}
.bottom_part{
     float: left;
    margin-bottom: 3%;
    padding-bottom: 0 !important;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0 !important;
    width: 94%;
}
.bottom_left{
            width: 50%;
            float: left;}
.bottom_right{width: 50%;float: right;}

.font_icon {
    margin-right: 5%;
    float: left;
}
.fa-mail-forward::before, .fa-share::before {
    content: "";
     font-family: 'FontAwesome';
     color: #a3c9ed;
     font-size: 16px;
}
.fa-thumbs-up::before {
    content: "";
    color: #a3c9ed;
     font-size: 16px;
     font-family: 'FontAwesome';
}
.date{
    font-family: robotoregular;
    font-size: 14px;
    color: #638bb0;
    margin-right: 5%;
    float: left;
}
.read_more{
    font-family: robotolight;
    font-size: 14px;
    color: #638aaf;
    
    float: right;
}
.small_content{
    width: 100%;
    border-top: 1px solid #eaebed;
    float: left;
    background-color: #f1f6fa;
}

.fa-user::before {
    content: "";
    color: #fff;
     font-size: 20px;
     font-family: 'FontAwesome';
     float: left;
}
.user{
    
    background-color: #163041;
    border-radius: 3px;
    float: left;
    margin: 6px 6px 6px 9px;
    padding: 4px 8px;

}
.content {
    text-align: left;
    margin-top: 3px;
    font-family: robotoregular;
    font-size: 11px;
    color: #a1a0a5;
}
/*footer css start*/
.footer{
    background-color: #171818;
    width: 100%;
    overflow: hidden;
}
.copyright{
    font-family: robotoregular;
    color: #66023c;
    font-size: 14px;
    padding-top: 2%;
    padding-bottom: 2%;
}
/*footer css close*/
    
/*slider css*/

#owl-demo .item{
      margin: 3px;
    }
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
    }
.slider_owl{
    width: 1024px;
    margin: 0 auto;
    overflow: hidden;
    padding: 65px;
    padding-bottom: 0;
}
.responsive_slider{
    width: 1024px;
    margin: 0 auto;
     overflow: hidden;
    background-color: #fff;
      margin-top: 10%;
}
/*sign in page css start*/
.sign_in{
    width: 100%;
    margin: 0;
    padding: 0;
}
.sign_header{width: 100%;
            margin: 0 auto;
            text-align: left;}
.sign_area{
    
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    text-align: center;
    width: 60%;
    margin-bottom: 10%;
}
.main_login{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ae79e2+0,3a1064+100 */
background: #ae79e2; /* Old browsers */
background: -moz-linear-gradient(top,  #ae79e2 0%, #3a1064 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ae79e2 0%,#3a1064 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ae79e2 0%,#3a1064 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae79e2', endColorstr='#3a1064',GradientType=0 ); /* IE6-9 */

    font-family: robotoregular;
    font-size: 24px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.login_content_area{
    background-color: #fff;
    border-top: 1px solid #281d33;
    float: left;
    text-align: left;
    width: 100%;
}
.username_content{
      float: left;
    margin-top: 7%;
    text-align: center;
    width: 100%;
}


.username_content h1 {
    color: #66023c;
    font-family: robotoregular;
    font-size: 24px;
    float: left;
}
.username_content > div {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    width: 80%;
}
.login_input{
     margin-top: 0%;
    width: 62%;
     color: #a9a9a9;
     font-family: robotolight;
    font-size: 17px;
    margin-left: 3%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    width: 69%;

}
.password_content{
      float: left;
    margin-top: 3%;
    text-align: center;
    width: 100%;
}


.password_content h1 {
    color: #66023c;
    font-family: robotoregular;
    font-size: 24px;
    float: left;
}
.password_content > div {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    width: 80%;
}
.password_content span {
    color: #66023c;
    float: left;
    font-family: robotolight;
    font-size: 18px;
    margin-left: 28%;
    margin-top: 3%;
}
.btn {
     float: left;
    margin: 7% 0 5% 42%;
    text-align: center;
    width: 100%;
}
.login_btn{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c498fd+0,9769d2+100 */
background: #c498fd; /* Old browsers */
background: -moz-linear-gradient(top,  #c498fd 0%, #9769d2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c498fd 0%,#9769d2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c498fd 0%,#9769d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c498fd', endColorstr='#9769d2',GradientType=0 ); /* IE6-9 */

    border-radius: 3px;
    color: #fff;
    float: left;
    font-family: robotoregular;
    font-size: 20px;
    padding: 11px 15px;
    margin-right: 4%;
    border: 1px solid #954fed;
}
.login_btn > p {
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.login_btn > p a{
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.cancel_btn{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c498fd+0,9769d2+100 */
background: #c498fd; /* Old browsers */
background: -moz-linear-gradient(top,  #c498fd 0%, #9769d2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c498fd 0%,#9769d2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c498fd 0%,#9769d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c498fd', endColorstr='#9769d2',GradientType=0 ); /* IE6-9 */

    border-radius: 3px;
    color: #fff;
    float: left;
    font-family: robotoregular;
    font-size: 20px;
    padding: 11px 15px;
    border: 1px solid #954fed;
}
.cancel_btn > p {
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.cancel_btn > p a{
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
/*sign in page css close*/

/*sign up page css start*/

.sign_in{
    width: 100%;
    margin: 0;
    padding: 0;
}
.sign_header{width: 100%;
            margin: 0 auto;
            text-align: left;}
.sign_area_two{
    
    overflow: hidden;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    text-align: center;
    width: 70%;
    margin-bottom: 10%;
}
.main_login{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ae79e2+0,3a1064+100 */
background: #ae79e2; /* Old browsers */
background: -moz-linear-gradient(top,  #ae79e2 0%, #3a1064 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ae79e2 0%,#3a1064 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ae79e2 0%,#3a1064 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae79e2', endColorstr='#3a1064',GradientType=0 ); /* IE6-9 */

    font-family: robotoregular;
    font-size: 24px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.login_content_area{
    background-color: #fff;
    border-top: 1px solid #281d33;
    float: left;
    text-align: left;
    width: 100%;
}
.sign_up_username_content{
      float: left;
    margin-top: 7%;
    text-align: center;
    width: 100%;
}


.sign_up_username_content h1 {
    color: #66023c;
    font-family: robotoregular;
    font-size: 24px;
    float: left;
}
.sign_up_username_content > div {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 90%;
}
.login_input_two{
    
    
     color: #a9a9a9;
     font-family: robotolight;
    font-size: 17px;
    margin-left:14%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    width: 55%;

}
.login_input_two{
    
    
     color: #a9a9a9;
     font-family: robotolight;
    font-size: 17px;
    margin-left:13.5%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    width: 55%;

}
.login_input_three{
    
    
     color: #a9a9a9;
     font-family: robotolight;
    font-size: 17px;
    margin-left:12.5%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    width: 55%;

}
.login_input_four{
    
    
     color: #a9a9a9;
     font-family: robotolight;
    font-size: 17px;
    margin-left:14%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    width: 55%;

}
.login_input_five{
    
    
     color: #a9a9a9;
     font-family: robotolight;
    font-size: 17px;
    margin: 0;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-top: 1%;
    width: 55%;

}
.password_content_two{
      float: left;
    margin-top: 3%;
    text-align: center;
    width: 100%;
}


.password_content_two h1 {
    color: #66023c;
    font-family: robotoregular;
    font-size: 24px;
    float: left;
}
.password_content_two > div {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 90%;
}
.confirmed_password{
      float: left;
    margin-top: 3%;
    text-align: center;
    width: 100%;
}
.confirmed_password h1 {
    color: #66023c;
    font-family: robotoregular;
    font-size: 24px;
    float: left;
}
.confirmed_password > div {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    width: 90%;
}
.btn {
     float: left;
    margin: 7% 0 5% 42%;
    text-align: center;
    width: 100%;
}
.login_btn{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c498fd+0,9769d2+100 */
background: #c498fd; /* Old browsers */
background: -moz-linear-gradient(top,  #c498fd 0%, #9769d2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c498fd 0%,#9769d2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c498fd 0%,#9769d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c498fd', endColorstr='#9769d2',GradientType=0 ); /* IE6-9 */

    border-radius: 3px;
    color: #fff;
    float: left;
    font-family: robotoregular;
    font-size: 20px;
    padding: 11px 15px;
    margin-right: 4%;
    border: 1px solid #954fed;
}
.login_btn > p {
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.login_btn > p a{
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.cancel_btn{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c498fd+0,9769d2+100 */
background: #c498fd; /* Old browsers */
background: -moz-linear-gradient(top,  #c498fd 0%, #9769d2 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c498fd 0%,#9769d2 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c498fd 0%,#9769d2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c498fd', endColorstr='#9769d2',GradientType=0 ); /* IE6-9 */

    border-radius: 3px;
    color: #fff;
    float: left;
    font-family: robotoregular;
    font-size: 20px;
    padding: 11px 15px;
    border: 1px solid #954fed;
}
.cancel_btn > p {
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.cancel_btn > p a{
    color: #430064;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}


/*sign up page css close*/



















    

    
    
    

